<!DOCTYPE html>

<html>
<head>
	<title>fooler</title>
	<script type="text/javascript" src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
  <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script>
		function func(a)
		{
			
			$('#oh').html(a)
			
		}
	</script>
</head>
<style>
	#tt
	{
	width:100%;
	text-align:center;	
	}
	#kuang
	{
	float:right
	}
	

</style>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-9 col-sm-9" 
	{% if user.is_authenticated %}
	<h2>fooler says hello {{ user.username }}!</h2>
	<a href="/fooler/logout/">logout</a><br />
	{% else %}
	<h2>fooler says...hello world!</h2>
	{% endif %}
		</div>
	
	<div class="col-xs-3 col-sm-3">
		<a href="/fooler/register/">register     </a><a href="/fooler/login/">login</a>
		</div>
		
		</div>
		
		
	<div class="row"  id='tt'><h1>FOOLISH</h1></div>
	
	<div class="row">
		<button onclick='javascript:window.location.href="/fooler/add_question/"'>I have a question</button>
	</div>
	
	<div class="row">
	{% if questions %}

	
	<div class="col-xs-6 col-sm-6" id='kuang'><textarea id='oh'></textarea></div>
	
	<div class="col-xs-6 col-sm-6">
	<h4>questions list</h4>
		<ul>
		{% for question in questions %}
		<li><a href="/fooler/{{question.id}}/">{{question.qtitle}}</a><button onclick='func(question.title)'></button></li>
		{% endfor %}
	</ul>
	{% endif %}
	</div>
	</div>
  </div>
</body>
</html>
